.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 10vh;
    width: 60%;
    border: solid black 2px;
    box-sizing: border-box;
    &:hover{
        cursor: pointer;
    }
    img{
        border-radius: 50%; 
        border: solid black 3px;
        width: 60px;
        background-color: white;
    }
    section{
        display: flex;
    }
}