.App {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dashboard {
  width: 70%;
  height: 100vh;
}

.dashboard .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .search-bar .search-input {
  height: 25px;
  width: 90%;
}

.dashboard .search-bar .reset-button {
  height: 25px;
  padding: 5px 10px;
  border-radius: 1px;
  background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.dashboard .search-bar .search-button {
  height: 25px;
  width: 25px;
  background-color: #ff9770;
  border-radius: 2px;
  padding: 2px;
}

.nav {
  height: 100vh;
  width: 100px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff7abe), to(#ff9770));
  background-image: linear-gradient(0deg, #ff7abe, #ff9770);
  position: fixed;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  -webkit-box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.1), 5px 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.1), 5px 0 5px rgba(0, 0, 0, 0.2);
}

.nav .home-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .logout {
  position: absolute;
  bottom: 20px;
  left: 30px;
  justify-self: flex-end;
}

.nav img {
  width: 40px;
}

.nav img:hover {
  cursor: pointer;
}

.nav .profile-holder {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .profile-holder .profile-pic {
  border-radius: 50%;
  border: solid black 3px;
  width: 60px;
  background-color: white;
}

.nav .profile-holder .profile-pic:hover {
  cursor: default;
}

.nav-block {
  display: none;
}

.auth {
  background-image: linear-gradient(99deg, #ff70a6, #ff9770 40%, #ffd670 73%, #e9ff70);
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=root.css.map */